<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTable/courses.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" rel="stylesheet">

    <link th:href="@{/fontAwesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/addTheses.css}"  rel="stylesheet">

    <title>Compagnie</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            <img th:src="@{/images/logo-bir.png}" style="width: 100%;height: inherit">
        </div>
        <div class="col-12 col-sm-6 col-lg-9 alert-warning" style="padding: 4rem">
            <h3 class="text-center">Bataillon d'Intervention Rapide</h3>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm   navbar-light bg-light sticky-top row" style="height: 6rem">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="col-md-4">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/compagnie/all}">Retour</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " th:href="@{/compagnie/statistique/}+${compagnie.compagnieId}">Statistiques</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="text-center" th:text="${compagnie.compagnieName}"></h3>
            </div>
    </nav>
    <br>

    <h3 class="text-center">Paramètres de trie</strong></h3>
    <div class="row mb-2">

        <div class="col-2">
            <div class="dropup btn-group">
                <button class="btn btn-primary " data-toggle="dropdown" id="departement">DEPARTEMENT</button>
                <ul class="dropdown-menu" aria-labelledby="departement">
                    <li th:each="departement : ${departements}" class="dropdown-item">
                        <a th:text="${departement}" th:href="@{/compagnie/departement/} + ${compagnie.compagnieId} + '/' + ${departement}" style="color:black"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-2">
                <div class=" btn-group">
                    <button class="btn btn-primary " data-toggle="dropdown" id="langue">LANGUE PARLEE</button>
                    <ul class="dropdown-menu" aria-labelledby="langue">
                        <li class="dropdown-item">
                            <a th:href="@{/compagnie/parler/francais/} + ${compagnie.compagnieId}" style="color:black">FRANCAIS</a>
                        </li>
                        <li class="dropdown-item">
                            <a th:href="@{/compagnie/parler/anglais/} + ${compagnie.compagnieId}" style="color:black">ANGLAIS</a>
                        </li>

                        <li class="dropdown-item">
                            <a th:href="@{/compagnie/parler/francais/anglais/} + ${compagnie.compagnieId}" style="color:black">FRANCAIS ET ANGLAIS</a>
                        </li>


                    </ul>
                </div>
            </div>
        <div class="col-2">
            <div class=" btn-group dropup">
                <button class="btn btn-primary " data-toggle="dropdown" id="ethnie">ETHNIE</button>

                <ul class="dropdown-menu" aria-labelledby="ethnie">

                    <li th:each="ethnie : ${ethnies}" class="dropdown-item">
                        <a th:text="${ethnie}" th:href="@{/compagnie/ethnie/} + ${compagnie.compagnieId} + '/' + ${ethnie}" style="color:black"></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class=" btn-group dropup">
                <button class="btn btn-primary " data-toggle="dropdown" id="religion">RELIGION</button>
                <ul class="dropdown-menu" aria-labelledby="religion">
                    <li th:each="religion : ${religions}" class="dropdown-item">
                        <a th:text="${religion}" th:href="@{/compagnie/departement/} + ${compagnie.compagnieId} + '/' + ${religion}" style="color:black"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="dropup btn-group">
                <button class="btn btn-primary " data-toggle="dropdown" id="diplom">DIPLOME LE PLUS ELEVE</button>

                <ul class="dropdown-menu" aria-labelledby="diplom">

                    <li th:each="diplome : ${diplomes}" class="dropdown-item">
                        <a th:text="${diplome}" th:href="@{/compagnie/diplome/} + ${compagnie.compagnieId} + '/' + ${diplome}" style="color:black"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <div class="x` btn-group">
                <button class="btn btn-primary " data-toggle="dropdown" id="nageur">NAGEUR</button>

                <ul class="dropdown-menu" aria-labelledby="nageur">

                    <li th:each="nageur : ${nageurs}" class="dropdown-item">
                        <a th:text="${nageur}" th:href="@{/compagnie/nageur/} + ${compagnie.compagnieId} + '/' + ${nageur}" style="color:black"></a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-2">
            <div class="dropup btn-group">
                <button class="btn btn-primary " data-toggle="dropdown" id="noPermit">PAS DE PERMIS</button>

                <ul class="dropdown-menu" aria-labelledby="noPermit">

                    <li th:each="sansPermi : ${sansPermis}" class="dropdown-item">
                        <a th:text="${sansPermi}" th:href="@{/compagnie/conduire/sans/} + ${compagnie.compagnieId} + '/' + ${sansPermi}" style="color:black"></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="dropup btn-group">
                <button class="btn btn-primary " data-toggle="dropdown" id="noPermit">PERMIS CIVIL</button>

                <ul class="dropdown-menu" aria-labelledby="noPermit">

                    <li th:each="permi : ${permis}" class="dropdown-item">
                        <a th:text="${permi}" th:href="@{/compagnie/permis/} + ${compagnie.compagnieId} + '/' + ${permi}" style="color:black"></a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-2">
            <div class=" btn-group ">
                <button class="btn btn-primary " data-toggle="dropdown" id="sport">SPORT</button>
                <ul class="dropdown-menu" aria-labelledby="sport">
                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/foot/} + ${compagnie.compagnieId}" style="color:black">
                            FOOTBALL
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/hand/} + ${compagnie.compagnieId}" style="color:black">
                            HANDBALL
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/basket/} + ${compagnie.compagnieId}" style="color:black">
                            BASKETBALL
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/volley/} + ${compagnie.compagnieId}" style="color:black">
                            VOLLEYBALL
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/karate/} + ${compagnie.compagnieId}" style="color:black">
                            KARATE
                        </a>
                    </li>


                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/tennis/} + ${compagnie.compagnieId}" style="color:black">
                            TENNIS
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a  th:href="@{/compagnie/jouer/kung_fu/} + ${compagnie.compagnieId}" style="color:black">
                            KUNG FU
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class=" btn-group dropup">
                <button class="btn btn-primary " data-toggle="dropdown" id="region">REGION</button>
                <ul class="dropdown-menu" aria-labelledby="region">
                    <li class="dropdown-item" th:each="region: ${regions}">
                        <a th:href="@{/compagnie/region/} + ${compagnie.compagnieId} + '/'+ ${region}" th:text="${region}" style="color:black"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h4>Nombre: <span th:text="${#lists.size(users)}"></span></h4>
    <div class="mt-3">
        <table  class="table table-bordered table-hover table-lg display mt-3" id="data">
            <thead class="text-white bg-secondary">
            <th>Nom</th>
            <th>Matricule Militaire</th>
            <th>Region</th>
            <th>Email</th>
            <th>Numéro personnel</th>
            <th>Actions</th>
            </thead>
            <tbody>

            <tr th:each="user: ${users}">
                <td th:text="${user.userName}" ></td>
                <td th:text="${user.userMilitaryCode}" ></td>
                <td th:text="${user.userRegion}" ></td>
                <td th:text="${user.userEmail}" ></td>
                <td th:text="${user.userPersonalTelephonNumber}" ></td>
                <td>
                    <a href="@{'/user/detail/' + ${user.userId}}" class="btn btn-success rounded-circle">
                    <i class="fa fa-eye"></i>
                    </a>
                    <a href="@{'/user/delete/' + ${user.userId}}" class="btn btn-danger rounded-circle">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="@{'/user/section/add/' + ${user.userId}}" class="btn btn-primary rounded-circle">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-light .dmenu').hover(function () {
            $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
        }, function () {
            $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
        });
    });
</script>
</body>
</html>