<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTafble/courses.js}" type="text/javascript"></script>
    <link th:href="@{/fontAwesome/css/font-awesome.min.css}" rel="stylesheet">



    <script th:src="@{/js/dataTable/users.js}" type="text/javascript"></script>
    <link th:href="@{/css/addTheses.css}"  rel="stylesheet">
    <link th:href="@{/css/compagnies.css}"  rel="stylesheet">
    <title>Utilisateurs </title>
    <style>
        .pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="padding-right: 15px;padding-left:15px;">
        <div class="col-12 col-sm-6 col-lg-3" style="background-color:#969c5c">
            <img th:src="@{/images/logo2-bir.jpg}" style="width: 100%;height: inherit">
        </div>
        <div class="col-12 col-sm-6 col-lg-9 bgimg" style="background-color:#969c5c;padding: 4rem">
            <h3 class="text-center text-light">Bataillon d'Intervention Rapide</h3>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm   navbar-lightsticky-top" style="height: 6rem;background-color:#485d4c">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link  text-white" th:href="@{/home}">Acceuil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active " th:href="@{/user/all}" href="#">Soldats/Recrues</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/compagnie/all}">Compagnies</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/user/users/courses/average}">Matières</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/stats/all}">Statistiques</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/about}">A Propos</a>
                </li>
                <!-- <li class="nav-item dropdown dmenu">
                 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                   Dropdown link
                 </a>
                 <div class="dropdown-menu sm-menu">
                   <a class="dropdown-item" href="#">Link 1</a>
                   <a class="dropdown-item" href="#">Link 2</a>
                   <a class="dropdown-item" href="#">Link 3</a>
                   <a class="dropdown-item" href="#">Link 4</a>
                   <a class="dropdown-item" href="#">Link 5</a>
                   <a class="dropdown-item" href="#">Link 6</a>
                 </div>
               </li> -->
            </ul>
        </div>
    </nav>
    <br>
    <div class=" mb-3">
        <h3 class="mt-3 pb-3 mb-4 font-italic border-bottom text-center" >TOUTES LES SOLDATS/RECRUES</h3>
        <div class="col-12 col-sm-12 col-lg-12" >
            <table  class="table text-center table-hover  table-lg display" id="user">
                <thead class="text-white text-center bg-secondary">
                <th>Nom</th>
                <th>Matricule Militaire</th>
                <th>Region</th>
                <th>Email</th>
                <th>Numero personnel</th>
                <th>Actions</th>
                </thead>
                <tbody class="text-center">
                <tr th:each="user : ${users}" >
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userMilitaryCode}"></td>
                    <td th:text="${user.userRegion}"></td>
                    <td th:text="${user.userEmail}"></td>
                    <td th:text="${user.userPersonalTelephonNumber}"></td>
                    <td>
                        <a th:href="@{'/user/detail/'+${user.userId}}" class="btn btn-success rounded-circle"><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-danger rounded-circle" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Etes vous sure de vouloir supprimer définitivement cet Utilisateur?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a type="button" class="btn btn-primary" th:href="@{/user/delete/{userId}(userId=${user.userId})}"><i class="fa fa-check"></i>&nbsp;Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <br>
        <h3 class="mt-3 pb-3 mb-4 font-italic border-bottom text-center" >TOUTES LES SOLDATS/RECRUES SANS SECTION</h3>
        <div class="col-12 col-sm-12 col-lg-12" >
            <table  class="table text-center table-hover  table-lg display" id="user1">
                <thead class="text-white text-center bg-secondary">
                <th>Nom</th>
                <th>Matricule Militaire</th>
                <th>Region</th>
                <th>Email</th>
                <th>Numero personnel</th>
                <th>Actions</th>
                </thead>
                <tbody class="text-center">
                <tr th:each="user1 : ${usersNoSections}" >
                    <td th:text="${user1.userName}"></td>
                    <td th:text="${user1.userMilitaryCode}"></td>
                    <td th:text="${user1.userRegion}"></td>
                    <td th:text="${user1.userEmail}"></td>
                    <td th:text="${user1.userPersonalTelephonNumber}"></td>
                    <td>
                        <a th:href="@{'/user/detail/'+${user1.userId}}" class="btn btn-success rounded-circle"><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-danger rounded-circle" data-toggle="modal" data-target="#exampleModale">
                            <i class="fa fa-trash"></i>
                        </button>
                        <a th:href="@{'/user/section/add/'+${user1.userId}}" class="btn btn-primary rounded-circle"><i class="fa fa-eye"></i></a>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>Etes vous sure de vouloir supprimer définitivement cet Utilisateur?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a type="button" class="btn btn-primary" th:href="@{/user/delete/{userId}(userId=${user1.userId})}"><i class="fa fa-check"></i>&nbsp;Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
            </div>
        <!-- add these button -->
        <a th:href="@{/user/add/form}" class="addButton btn btn-primary rounded-circle">
            <i class="fa fa-plus"></i>
        </a>
        <!-- add these button -->
    </div>
    <hr>

    <footer style="height:10rem;bottom:0;background-color:#969c5c;width:100%;padding:1rem">
        <h4 class="text-center " style="color:white"><strong>BATAILLON D'INTERVENTION RAPIDE</strong></h4>
        <a th:href="@{/home}" class="mx-auto pb-3 text-center">
            <img alt="jQuery 2 DotNet" class="rounded mx-auto d-block" height="52px;" th:src="@{/images/logo1-bir.png}" style="display: block" width="208px;">
        </a>
    </footer>
</div>

</body>
</html>