<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTable/courses.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" rel="stylesheet">

    <script th:src="@{/js/dataTable/users.js}" type="text/javascript"></script>
     <link th:href="@{/css/addTheses.css}"  rel="stylesheet">

    <title>Section</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            <img th:src="@{/images/logo-bir.png}" style="width: 100%;height: inherit">
        </div>
        <div class="col-12 col-sm-6 col-lg-9 alert-warning" style="padding: 4rem">
            <h3 class="text-center">Bataillon d'Intervention Rapide</h3>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm   navbar-light bg-light sticky-top row" style="height: 6rem">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-4">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/compagnie/detail/}+${session.compagnieId}">Retour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/section/detail/}+${section.sectionId}">Recrues/Soldats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/section/courses/}+${section.sectionId}">Matieres</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-center" th:text="${section.sectionName}"></h3>
        </div>
    </nav>
    <br>

    <h3 class="text-center">RECRUES/SOLDATS DE LA <strong th:text="${section.sectionName}"></strong></h3>
    <table class="table text-center table-hover  table-lg display" id="sectionUsers">
        <thead class="text-white bg-secondary">
        <tr>
            <th>Nom</th>
            <th>Matricule Militaire</th>
            <th>Region</th>
            <th>Email</th>
            <th>Numero personnel</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" >
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userMilitaryCode}"></td>
            <td th:text="${user.userRegion}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userPersonalTelephonNumber}"></td>
            <td>
                <a th:href="@{'/user/detail/'+${user.userId}}" class="btn btn-success rounded-circle"><i class="fa fa-eye"></i></a>
                <a data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete'+${user.userId}"  class="btn btn-danger rounded-circle" ><i class="fa fa-trash"></i></i>
                </a>
            </td>
            <div class="modal card modal-warning alert-warning fade in" th:id="modal-delete+${user.userId}" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center alert-info">
                            <h5 class="modal-title">Suppresion d'un element</h5>
                        </div>
                        <div class="modal-body text-center">
                            <h3>Voulez vous vraiment supprimer cet element?</h3>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Retour</button>
                            <a  class="btn btn-success"  th:href="@{/user/delete/} + ${user.userId}"><i class="fa fa-check"></i>&nbsp;Oui</a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <!-- add these button -->
    <!--a th:href="@{/section/add/form}" class="addButton btn btn-primary rounded-circle">
        <i class="fa fa-plus"></i>
    </a-->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-light .dmenu').hover(function () {
            $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
        }, function () {
            $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
        });
    });
</script>
</body>
</html>