<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
    <link th:href="@{/css/index.css}"  rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTable/courses.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" rel="stylesheet">

    <link th:href="@{/fontAwesome/css/font-awesome.min.css}" rel="stylesheet">
    <title>Utilisateurs </title>
</head>
<body>
<div class="container">

    <div class="row" style="padding-right: 15px;padding-left:15px;">
        <div class="col-12 col-sm-6 col-lg-3" style="background-color:#969c5c">
            <img th:src="@{/images/logo2-bir.jpg}" style="width: 100%;height: inherit">
        </div>
        <div class="col-12 col-sm-6 col-lg-9 bgimg" style="background-color:#969c5c;padding: 4rem">
            <h3 class="text-center text-light">Bataillon d'Intervention Rapide</h3>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm   navbar-lightsticky-top" style="height: 6rem;background-color:#485d4c">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link   " th:href="@{/home}">Acceuil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  text-white" th:href="@{/user/all}" href="#">Soldats/Recrues</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/compagnie/all}">Compagnies</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/user/users/courses/average}">Matières</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/stats/all}">Statistiques</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  text-white" th:href="@{/about}">A Propos</a>
                </li>

            </ul>
        </div>
    </nav>
    <br>
    <div style="position:fixed;bottom:3rem;right:3rem;" data-toggle="modal" data-target="#postModal">
        <a class="btn btn-success" style="border-radius:50%">
            <i class="fa fa-plus fa-lg"></i>
        </a>
    </div>
    <div style="padding:0 15rem 0 15rem;">

        <div class="feeds mb-5 mt-5">
            <div class="card mb-3 mt-3" th:each="post : ${posts}">
                <div class="card-body">
                   <div> <strong><i class="fa fa-people"></i><i>CDT HAND</i></strong>
                   </div>
                    <div class="row">
                        <div class="col-8 text-left">
                            <h5 class="card-title" th:text="${post.postTitle}"></h5>
                        </div>
                        <div class="col-4 text-right">
                            <i th:text="${#strings.substring(post.postDate,0, #strings.length(post.postDate)-2)}"></i>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text" th:text="${post.postDescription}"></p>
                    <ul>
                        <li><a href="">Listes1.pdf</a></li>
                        <li><a href="">Listes2.pdf</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="modal" tabindex="-1" role="dialog" id="postModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Faire une publication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/post/save}" method="post">
                <div class="modal-body">
                        <div class="form-group" style="margin-bottom:.5rem">
                            <input class="form-control mb-1" placeholder="Titre de la publication" name="postTitle">
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="postDescription" placeholder="Contenu de la publication" rows="5"></textarea>
                        </div>
                        <div class="row justify-content-space-between align-items-center">
                            <div class="col">
                                <strong>Ajouter des pièces jointes&nbsp;&nbsp;<i class="fa fa-lg fa-paperclip"></i></strong>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-success">Publier</button>
                </div>

                </form>
            </div>
        </div>
    </div>
    <footer style="height:10rem;bottom:0;background-color:#969c5c;width:100%;padding:1rem">
        <h4 class="text-center " style="color:white"><strong>BATAILLON D'INTERVENTION RAPIDE</strong></h4>
        <a th:href="@{/home}" class="mx-auto pb-3 text-center">
            <img alt="jQuery 2 DotNet" class="rounded mx-auto d-block" height="52px;" th:src="@{/images/logo1-bir.png}" style="display: block" width="208px;">
        </a>
    </footer>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-light .dmenu').hover(function () {
            $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
        }, function () {
            $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
        });
    });
</script>
</body>
</html>